

.datamw01 {color: #fff;  margin:4px 0px 6px 6px;float:left; text-align:left;     width: 320px; float:left; }
.data03 {color: #000;background: #e77133; padding: 5px 0px 15px 0px; margin:0px 0px 20px 0px;font-size: 14px; text-align:center;}


.info-panel-text { font-family:"Montserrat";color: #000;font-size: 12px;padding:0px 0px 3px 5px; width:45%;}
.info-panel-text-H {font-family:"Montserrat";color: #000;font-size: 12px;padding:0px 0px 3px 5px;width: 55%;}
.info-panel-text-b { font-family:"Montserrat_m";color: #000;font-size: 16px;padding:4px 3px 7px 0px;}



/******************************************************/



  
  
  
  
  
  
  
  
  
  
  
  